{% extends 'base.html' %}

{% block content %}

<p></p>
<h1><u>All Product Database Data</u></h1>


<!-- Table filled from database -->
<table>
    <tr>
        <th>Entry</th>
        <th>Product Name</th>
        <th>Category</th>
        <th>Tags</th>
    </tr>
    <!-- loop through the data pulled from back end sql queries to be displayed as a table -->
    {% for column in data %}
    <tr>
        <td>{{column.entry}}</td>
        <td>{{column.product_name}}</td>
        <td>{{column.category}}</td>

        <!-- utilize custom django filter to access the tag_data dictionary -->
        <td>{{tag|dictionary_key:column.product_name}}</td>
    </tr>
    
    {% endfor %}
</table>

{% endblock %}